# Environment
DATABASE_URL="postgresql://postgres:password@db.xxxx.supabase.co:5432/postgres"
GITHUB_API_KEY=your_github_pat_here
JWT_SECRET_KEY=your-jwt-secret-key-here
NEXT_PUBLIC_APP_URL=http://localhost:3000
